<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/homepage.css">

    <title>CommonThread | Homepage</title>
</head>
<body>
    <h1>Welcome to CommonThread</h1> 
    <div class="content">
        <p>Discover a world of knowledge and connection with CommonThread. Our platform is designed to bring people together through their common hobbies, interests and passions. Let us know what tags you are interested in and get right into the conversation!</p>
    </div>

    <div class ="buttons">
        <a href="{{ url_for('login') }}" class="btn">Login</a>
        <a href="{{ url_for('signup') }}" class="btn">Sign Up</a>
    </div>
</body>

<footer>
    <p>Copyright &copy; 2026 CommonThread. All rights reserved.</p>
</footer>
</html>