h1 {
  display: flex;
  justify-content: center;
}

.aboutPic {
  width: 200px;
  height: 200px;
  object-fit: fill;
  border-radius: 8px;
  flex-shrink: 0;
}

.textAbout {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
}

.articleAbout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  
}

.containerAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}