/* ─── Login Page Styles ─────────────────────────────────────────────────────── */


body {
  margin: 0;
  min-height: 100vh;
   background: #1f1f1f; 

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Source Code Pro", 'DM Sans', sans-serif;
}

.login-container {
  width: 400px;
  padding: 48px 40px;
  border-radius: 14px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin: 4rem;

  color: white;
}

.login-header {
  text-align: center;
  margin-bottom: 32px;
}

.login-header h1 {
  margin-bottom: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 14px;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;

  padding: 13px 14px;
  border-radius: 7px;
  border: none;

  font-size: 14px;
}

.form-options {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 14px;
}

.sign-btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.signup-text {
  margin-top: 28px;
}

.login-button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  border: none;
  border-radius: 8px;

  background: #0fdfff;
  color: #222;

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.2s ease; /* smooth animation */
}

.login-button:hover {
  background: #0cc5e0;
  transform: translateY(-1px);
}

.login-button:active {
  transform: translateY(1px);
}

.forgot-link {
  padding: 6px 10px;
  border-radius: 6px;

  background: #d29a0f;
  color: #000000;

  text-decoration: none;
  font-size: 14px;
}

.forgot-link:hover {
  background: var(--dark-color);
  text-decoration: underline;
}

.form-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 6px;
}

.forgot-link,
.forgot-link:visited,
.forgot-link:hover,
.forgot-link:active,
.login-button,
.login-button:hover {
  color: #000000 !important;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.4s ease, color 0.4s ease;
}

.forgot-link:hover {
  background: #edcd84; /* Darker gold */
  text-decoration: none !important;
}

.login-button:hover {
  background: #c6f6ff; /* Or whatever color you prefer for the button hover */
  cursor: pointer;
}

.login a,
.login a:visited,
.login a:hover,
.login a:active {
  color: #ccc;
  text-decoration: none;
}